/* 縦padding */
.fs-py0{
    padding-top: 0px;
    padding-bottom: 0px;
}
.fs-py1{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.fs-py2{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.fs-py3{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.fs-py4{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.fs-py5{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.fs-py6{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.fs-py7{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.fs-py8{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.fs-py9{
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
.fs-py10{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.fs-py11{
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}
.fs-py12{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.fs-py13{
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}
.fs-py14{
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}
.fs-py15{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.fs-py16{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.fs-py17{
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}
.fs-py18{
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}
.fs-py19{
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}
.fs-py20{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.fs-py21{
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
}
.fs-py22{
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}
.fs-py23{
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}
.fs-py24{
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}
.fs-py25{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.fs-py26{
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
}
.fs-py27{
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
}
.fs-py28{
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
}
.fs-py29{
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
}
.fs-py30{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.fs-py31{
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
}
.fs-py32{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}
.fs-py33{
    padding-top: 3.3rem;
    padding-bottom: 3.3rem;
}
.fs-py34{
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
}
.fs-py35{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
.fs-py36{
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
}
.fs-py37{
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
}
.fs-py38{
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
}
.fs-py39{
    padding-top: 3.9rem;
    padding-bottom: 3.9rem;
}
.fs-py40{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.fs-py41{
    padding-top: 4.1rem;
    padding-bottom: 4.1rem;
}
.fs-py42{
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
}
.fs-py43{
    padding-top: 4.3rem;
    padding-bottom: 4.3rem;
}
.fs-py44{
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
}
.fs-py45{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}
.fs-py46{
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
}
.fs-py47{
    padding-top: 4.7rem;
    padding-bottom: 4.7rem;
}
.fs-py48{
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}
.fs-py49{
    padding-top: 4.9rem;
    padding-bottom: 4.9rem;
}
.fs-py50{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.fs-py51{
    padding-top: 5.1rem;
    padding-bottom: 5.1rem;
}
.fs-py52{
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;
}
.fs-py53{
    padding-top: 5.3rem;
    padding-bottom: 5.3rem;
}
.fs-py54{
    padding-top: 5.4rem;
    padding-bottom: 5.4rem;
}
.fs-py55{
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}
.fs-py56{
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
}
.fs-py57{
    padding-top: 5.7rem;
    padding-bottom: 5.7rem;
}
.fs-py58{
    padding-top: 5.8rem;
    padding-bottom: 5.8rem;
}
.fs-py59{
    padding-top: 5.9rem;
    padding-bottom: 5.9rem;
}
.fs-py60{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.fs-py61{
    padding-top: 6.1rem;
    padding-bottom: 6.1rem;
}
.fs-py62{
    padding-top: 6.2rem;
    padding-bottom: 6.2rem;
}
.fs-py63{
    padding-top: 6.3rem;
    padding-bottom: 6.3rem;
}
.fs-py64{
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}
.fs-py65{
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}
.fs-py66{
    padding-top: 6.6rem;
    padding-bottom: 6.6rem;
}
.fs-py67{
    padding-top: 6.7rem;
    padding-bottom: 6.7rem;
}
.fs-py68{
    padding-top: 6.8rem;
    padding-bottom: 6.8rem;
}
.fs-py69{
    padding-top: 6.9rem;
    padding-bottom: 6.9rem;
}
.fs-py70{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.fs-py71{
    padding-top: 7.1rem;
    padding-bottom: 7.1rem;
}
.fs-py72{
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
}
.fs-py73{
    padding-top: 7.3rem;
    padding-bottom: 7.3rem;
}
.fs-py74{
    padding-top: 7.4rem;
    padding-bottom: 7.4rem;
}
.fs-py75{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.fs-py76{
    padding-top: 7.6rem;
    padding-bottom: 7.6rem;
}
.fs-py77{
    padding-top: 7.7rem;
    padding-bottom: 7.7rem;
}
.fs-py78{
    padding-top: 7.8rem;
    padding-bottom: 7.8rem;
}
.fs-py79{
    padding-top: 7.9rem;
    padding-bottom: 7.9rem;
}
.fs-py80{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.fs-py81{
    padding-top: 8.1rem;
    padding-bottom: 8.1rem;
}
.fs-py82{
    padding-top: 8.2rem;
    padding-bottom: 8.2rem;
}
.fs-py83{
    padding-top: 8.3rem;
    padding-bottom: 8.3rem;
}
.fs-py84{
    padding-top: 8.4rem;
    padding-bottom: 8.4rem;
}
.fs-py85{
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}
.fs-py86{
    padding-top: 8.6rem;
    padding-bottom: 8.6rem;
}
.fs-py87{
    padding-top: 8.7rem;
    padding-bottom: 8.7rem;
}
.fs-py88{
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;
}
.fs-py89{
    padding-top: 8.9rem;
    padding-bottom: 8.9rem;
}
.fs-py90{
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.fs-py91{
    padding-top: 9.1rem;
    padding-bottom: 9.1rem;
}
.fs-py92{
    padding-top: 9.2rem;
    padding-bottom: 9.2rem;
}
.fs-py93{
    padding-top: 9.3rem;
    padding-bottom: 9.3rem;
}
.fs-py94{
    padding-top: 9.4rem;
    padding-bottom: 9.4rem;
}
.fs-py95{
    padding-top: 9.5rem;
    padding-bottom: 9.5rem;
}
.fs-py96{
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}
.fs-py97{
    padding-top: 9.7rem;
    padding-bottom: 9.7rem;
}
.fs-py98{
    padding-top: 9.8rem;
    padding-bottom: 9.8rem;
}
.fs-py99{
    padding-top: 9.9rem;
    padding-bottom: 9.9rem;
}
.fs-py100{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
/* 横padding */
.fs-px0{
    padding-left: 0px;
    padding-right: 0px;
}
.fs-px1{
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
.fs-px2{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.fs-px3{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.fs-px4{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.fs-px5{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.fs-px6{
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.fs-px7{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.fs-px8{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.fs-px9{
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}
.fs-px10{
    padding-left: 1rem;
    padding-right: 1rem;
}
.fs-px11{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}
.fs-px12{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.fs-px13{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
.fs-px14{
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.fs-px15{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.fs-px16{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.fs-px17{
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}
.fs-px18{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}
.fs-px19{
    padding-left: 1.9rem;
    padding-right: 1.9rem;
}
.fs-px20{
    padding-left: 2rem;
    padding-right: 2rem;
}
.fs-px21{
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}
.fs-px22{
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}
.fs-px23{
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}
.fs-px24{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}
.fs-px25{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.fs-px26{
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}
.fs-px27{
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}
.fs-px28{
    padding-left: 2.8rem;
    padding-right: 2.8rem;
}
.fs-px29{
    padding-left: 2.9rem;
    padding-right: 2.9rem;
}
.fs-px30{
    padding-left: 3rem;
    padding-right: 3rem;
}
.fs-px31{
    padding-left: 3.1rem;
    padding-right: 3.1rem;
}
.fs-px32{
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}
.fs-px33{
    padding-left: 3.3rem;
    padding-right: 3.3rem;
}
.fs-px34{
    padding-left: 3.4rem;
    padding-right: 3.4rem;
}
.fs-px35{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.fs-px36{
    padding-left: 3.6rem;
    padding-right: 3.6rem;
}
.fs-px37{
    padding-left: 3.7rem;
    padding-right: 3.7rem;
}
.fs-px38{
    padding-left: 3.8rem;
    padding-right: 3.8rem;
}
.fs-px39{
    padding-left: 3.9rem;
    padding-right: 3.9rem;
}
.fs-px40{
    padding-left: 4rem;
    padding-right: 4rem;
}
.fs-px41{
    padding-left: 4.1rem;
    padding-right: 4.1rem;
}
.fs-px42{
    padding-left: 4.2rem;
    padding-right: 4.2rem;
}
.fs-px43{
    padding-left: 4.3rem;
    padding-right: 4.3rem;
}
.fs-px44{
    padding-left: 4.4rem;
    padding-right: 4.4rem;
}
.fs-px45{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
.fs-px46{
    padding-left: 4.6rem;
    padding-right: 4.6rem;
}
.fs-px47{
    padding-left: 4.7rem;
    padding-right: 4.7rem;
}
.fs-px48{
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}
.fs-px49{
    padding-left: 4.9rem;
    padding-right: 4.9rem;
}
.fs-px50{
    padding-left: 5rem;
    padding-right: 5rem;
}
.fs-px51{
    padding-left: 5.1rem;
    padding-right: 5.1rem;
}
.fs-px52{
    padding-left: 5.2rem;
    padding-right: 5.2rem;
}
.fs-px53{
    padding-left: 5.3rem;
    padding-right: 5.3rem;
}
.fs-px54{
    padding-left: 5.4rem;
    padding-right: 5.4rem;
}
.fs-px55{
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}
.fs-px56{
    padding-left: 5.6rem;
    padding-right: 5.6rem;
}
.fs-px57{
    padding-left: 5.7rem;
    padding-right: 5.7rem;
}
.fs-px58{
    padding-left: 5.8rem;
    padding-right: 5.8rem;
}
.fs-px59{
    padding-left: 5.9rem;
    padding-right: 5.9rem;
}
.fs-px60{
    padding-left: 6rem;
    padding-right: 6rem;
}
.fs-px61{
    padding-left: 6.1rem;
    padding-right: 6.1rem;
}
.fs-px62{
    padding-left: 6.2rem;
    padding-right: 6.2rem;
}
.fs-px63{
    padding-left: 6.3rem;
    padding-right: 6.3rem;
}
.fs-px64{
    padding-left: 6.4rem;
    padding-right: 6.4rem;
}
.fs-px65{
    padding-left: 6.5rem;
    padding-right: 6.5rem;
}
.fs-px66{
    padding-left: 6.6rem;
    padding-right: 6.6rem;
}
.fs-px67{
    padding-left: 6.7rem;
    padding-right: 6.7rem;
}
.fs-px68{
    padding-left: 6.8rem;
    padding-right: 6.8rem;
}
.fs-px69{
    padding-left: 6.9rem;
    padding-right: 6.9rem;
}
.fs-px70{
    padding-left: 7rem;
    padding-right: 7rem;
}
.fs-px71{
    padding-left: 7.1rem;
    padding-right: 7.1rem;
}
.fs-px72{
    padding-left: 7.2rem;
    padding-right: 7.2rem;
}
.fs-px73{
    padding-left: 7.3rem;
    padding-right: 7.3rem;
}
.fs-px74{
    padding-left: 7.4rem;
    padding-right: 7.4rem;
}
.fs-px75{
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}
.fs-px76{
    padding-left: 7.6rem;
    padding-right: 7.6rem;
}
.fs-px77{
    padding-left: 7.7rem;
    padding-right: 7.7rem;
}
.fs-px78{
    padding-left: 7.8rem;
    padding-right: 7.8rem;
}
.fs-px79{
    padding-left: 7.9rem;
    padding-right: 7.9rem;
}
.fs-px80{
    padding-left: 8rem;
    padding-right: 8rem;
}
.fs-px81{
    padding-left: 8.1rem;
    padding-right: 8.1rem;
}
.fs-px82{
    padding-left: 8.2rem;
    padding-right: 8.2rem;
}
.fs-px83{
    padding-left: 8.3rem;
    padding-right: 8.3rem;
}
.fs-px84{
    padding-left: 8.4rem;
    padding-right: 8.4rem;
}
.fs-px85{
    padding-left: 8.5rem;
    padding-right: 8.5rem;
}
.fs-px86{
    padding-left: 8.6rem;
    padding-right: 8.6rem;
}
.fs-px87{
    padding-left: 8.7rem;
    padding-right: 8.7rem;
}
.fs-px88{
    padding-left: 8.8rem;
    padding-right: 8.8rem;
}
.fs-px89{
    padding-left: 8.9rem;
    padding-right: 8.9rem;
}
.fs-px90{
    padding-left: 9rem;
    padding-right: 9rem;
}
.fs-px91{
    padding-left: 9.1rem;
    padding-right: 9.1rem;
}
.fs-px92{
    padding-left: 9.2rem;
    padding-right: 9.2rem;
}
.fs-px93{
    padding-left: 9.3rem;
    padding-right: 9.3rem;
}
.fs-px94{
    padding-left: 9.4rem;
    padding-right: 9.4rem;
}
.fs-px95{
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}
.fs-px96{
    padding-left: 9.6rem;
    padding-right: 9.6rem;
}
.fs-px97{
    padding-left: 9.7rem;
    padding-right: 9.7rem;
}
.fs-px98{
    padding-left: 9.8rem;
    padding-right: 9.8rem;
}
.fs-px99{
    padding-left: 9.9rem;
    padding-right: 9.9rem;
}
.fs-px100{
    padding-left: 10rem;
    padding-right: 10rem;
}
/* 縦上padding */
.fs-pyt0{
    padding-top: 0px;
}
.fs-pyt1{
    padding-top: 0.1rem;
}
.fs-pyt2{
    padding-top: 0.2rem;
}
.fs-pyt3{
    padding-top: 0.3rem;
}
.fs-pyt4{
    padding-top: 0.4rem;
}
.fs-pyt5{
    padding-top: 0.5rem;
}
.fs-pyt6{
    padding-top: 0.6rem;
}
.fs-pyt7{
    padding-top: 0.7rem;
}
.fs-pyt8{
    padding-top: 0.8rem;
}
.fs-pyt9{
    padding-top: 0.9rem;
}
.fs-pyt10{
    padding-top: 1rem;
}
.fs-pyt11{
    padding-top: 1.1rem;
}
.fs-pyt12{
    padding-top: 1.2rem;
}
.fs-pyt13{
    padding-top: 1.3rem;
}
.fs-pyt14{
    padding-top: 1.4rem;
}
.fs-pyt15{
    padding-top: 1.5rem;
}
.fs-pyt16{
    padding-top: 1.6rem;
}
.fs-pyt17{
    padding-top: 1.7rem;
}
.fs-pyt18{
    padding-top: 1.8rem;
}
.fs-pyt19{
    padding-top: 1.9rem;
}
.fs-pyt20{
    padding-top: 2rem;
}
.fs-pyt21{
    padding-top: 2.1rem;
}
.fs-pyt22{
    padding-top: 2.2rem;
}
.fs-pyt23{
    padding-top: 2.3rem;
}
.fs-pyt24{
    padding-top: 2.4rem;
}
.fs-pyt25{
    padding-top: 2.5rem;
}
.fs-pyt26{
    padding-top: 2.6rem;
}
.fs-pyt27{
    padding-top: 2.7rem;
}
.fs-pyt28{
    padding-top: 2.8rem;
}
.fs-pyt29{
    padding-top: 2.9rem;
}
.fs-pyt30{
    padding-top: 3rem;
}
.fs-pyt31{
    padding-top: 3.1rem;
}
.fs-pyt32{
    padding-top: 3.2rem;
}
.fs-pyt33{
    padding-top: 3.3rem;
}
.fs-pyt34{
    padding-top: 3.4rem;
}
.fs-pyt35{
    padding-top: 3.5rem;
}
.fs-pyt36{
    padding-top: 3.6rem;
}
.fs-pyt37{
    padding-top: 3.7rem;
}
.fs-pyt38{
    padding-top: 3.8rem;
}
.fs-pyt39{
    padding-top: 3.9rem;
}
.fs-pyt40{
    padding-top: 4rem;
}
.fs-pyt41{
    padding-top: 4.1rem;
}
.fs-pyt42{
    padding-top: 4.2rem;
}
.fs-pyt43{
    padding-top: 4.3rem;
}
.fs-pyt44{
    padding-top: 4.4rem;
}
.fs-pyt45{
    padding-top: 4.5rem;
}
.fs-pyt46{
    padding-top: 4.6rem;
}
.fs-pyt47{
    padding-top: 4.7rem;
}
.fs-pyt48{
    padding-top: 4.8rem;
}
.fs-pyt49{
    padding-top: 4.9rem;
}
.fs-pyt50{
    padding-top: 5rem;
}
.fs-pyt51{
    padding-top: 5.1rem;
}
.fs-pyt52{
    padding-top: 5.2rem;
}
.fs-pyt53{
    padding-top: 5.3rem;
}
.fs-pyt54{
    padding-top: 5.4rem;
}
.fs-pyt55{
    padding-top: 5.5rem;
}
.fs-pyt56{
    padding-top: 5.6rem;
}
.fs-pyt57{
    padding-top: 5.7rem;
}
.fs-pyt58{
    padding-top: 5.8rem;
}
.fs-pyt59{
    padding-top: 5.9rem;
}
.fs-pyt60{
    padding-top: 6rem;
}
.fs-pyt61{
    padding-top: 6.1rem;
}
.fs-pyt62{
    padding-top: 6.2rem;
}
.fs-pyt63{
    padding-top: 6.3rem;
}
.fs-pyt64{
    padding-top: 6.4rem;
}
.fs-pyt65{
    padding-top: 6.5rem;
}
.fs-pyt66{
    padding-top: 6.6rem;
}
.fs-pyt67{
    padding-top: 6.7rem;
}
.fs-pyt68{
    padding-top: 6.8rem;
}
.fs-pyt69{
    padding-top: 6.9rem;
}
.fs-pyt70{
    padding-top: 7rem;
}
.fs-pyt71{
    padding-top: 7.1rem;
}
.fs-pyt72{
    padding-top: 7.2rem;
}
.fs-pyt73{
    padding-top: 7.3rem;
}
.fs-pyt74{
    padding-top: 7.4rem;
}
.fs-pyt75{
    padding-top: 7.5rem;
}
.fs-pyt76{
    padding-top: 7.6rem;
}
.fs-pyt77{
    padding-top: 7.7rem;
}
.fs-pyt78{
    padding-top: 7.8rem;
}
.fs-pyt79{
    padding-top: 7.9rem;
}
.fs-pyt80{
    padding-top: 8rem;
}
.fs-pyt81{
    padding-top: 8.1rem;
}
.fs-pyt82{
    padding-top: 8.2rem;
}
.fs-pyt83{
    padding-top: 8.3rem;
}
.fs-pyt84{
    padding-top: 8.4rem;
}
.fs-pyt85{
    padding-top: 8.5rem;
}
.fs-pyt86{
    padding-top: 8.6rem;
}
.fs-pyt87{
    padding-top: 8.7rem;
}
.fs-pyt88{
    padding-top: 8.8rem;
}
.fs-pyt89{
    padding-top: 8.9rem;
}
.fs-pyt90{
    padding-top: 9rem;
}
.fs-pyt91{
    padding-top: 9.1rem;
}
.fs-pyt92{
    padding-top: 9.2rem;
}
.fs-pyt93{
    padding-top: 9.3rem;
}
.fs-pyt94{
    padding-top: 9.4rem;
}
.fs-pyt95{
    padding-top: 9.5rem;
}
.fs-pyt96{
    padding-top: 9.6rem;
}
.fs-pyt97{
    padding-top: 9.7rem;
}
.fs-pyt98{
    padding-top: 9.8rem;
}
.fs-pyt99{
    padding-top: 9.9rem;
}
.fs-pyt100{
    padding-top: 10rem;
}
/* 縦下padding */
.fs-pyb0{
    padding-bottom: 0px;
}
.fs-pyb1{
    padding-bottom: 0.1rem;
}
.fs-pyb2{
    padding-bottom: 0.2rem;
}
.fs-pyb3{
    padding-bottom: 0.3rem;
}
.fs-pyb4{
    padding-bottom: 0.4rem;
}
.fs-pyb5{
    padding-bottom: 0.5rem;
}
.fs-pyb6{
    padding-bottom: 0.6rem;
}
.fs-pyb7{
    padding-bottom: 0.7rem;
}
.fs-pyb8{
    padding-bottom: 0.8rem;
}
.fs-pyb9{
    padding-bottom: 0.9rem;
}
.fs-pyb10{
    padding-bottom: 1rem;
}
.fs-pyb11{
    padding-bottom: 1.1rem;
}
.fs-pyb12{
    padding-bottom: 1.2rem;
}
.fs-pyb13{
    padding-bottom: 1.3rem;
}
.fs-pyb14{
    padding-bottom: 1.4rem;
}
.fs-pyb15{
    padding-bottom: 1.5rem;
}
.fs-pyb16{
    padding-bottom: 1.6rem;
}
.fs-pyb17{
    padding-bottom: 1.7rem;
}
.fs-pyb18{
    padding-bottom: 1.8rem;
}
.fs-pyb19{
    padding-bottom: 1.9rem;
}
.fs-pyb20{
    padding-bottom: 2rem;
}
.fs-pyb21{
    padding-bottom: 2.1rem;
}
.fs-pyb22{
    padding-bottom: 2.2rem;
}
.fs-pyb23{
    padding-bottom: 2.3rem;
}
.fs-pyb24{
    padding-bottom: 2.4rem;
}
.fs-pyb25{
    padding-bottom: 2.5rem;
}
.fs-pyb26{
    padding-bottom: 2.6rem;
}
.fs-pyb27{
    padding-bottom: 2.7rem;
}
.fs-pyb28{
    padding-bottom: 2.8rem;
}
.fs-pyb29{
    padding-bottom: 2.9rem;
}
.fs-pyb30{
    padding-bottom: 3rem;
}
.fs-pyb31{
    padding-bottom: 3.1rem;
}
.fs-pyb32{
    padding-bottom: 3.2rem;
}
.fs-pyb33{
    padding-bottom: 3.3rem;
}
.fs-pyb34{
    padding-bottom: 3.4rem;
}
.fs-pyb35{
    padding-bottom: 3.5rem;
}
.fs-pyb36{
    padding-bottom: 3.6rem;
}
.fs-pyb37{
    padding-bottom: 3.7rem;
}
.fs-pyb38{
    padding-bottom: 3.8rem;
}
.fs-pyb39{
    padding-bottom: 3.9rem;
}
.fs-pyb40{
    padding-bottom: 4rem;
}
.fs-pyb41{
    padding-bottom: 4.1rem;
}
.fs-pyb42{
    padding-bottom: 4.2rem;
}
.fs-pyb43{
    padding-bottom: 4.3rem;
}
.fs-pyb44{
    padding-bottom: 4.4rem;
}
.fs-pyb45{
    padding-bottom: 4.5rem;
}
.fs-pyb46{
    padding-bottom: 4.6rem;
}
.fs-pyb47{
    padding-bottom: 4.7rem;
}
.fs-pyb48{
    padding-bottom: 4.8rem;
}
.fs-pyb49{
    padding-bottom: 4.9rem;
}
.fs-pyb50{
    padding-bottom: 5rem;
}
.fs-pyb51{
    padding-bottom: 5.1rem;
}
.fs-pyb52{
    padding-bottom: 5.2rem;
}
.fs-pyb53{
    padding-bottom: 5.3rem;
}
.fs-pyb54{
    padding-bottom: 5.4rem;
}
.fs-pyb55{
    padding-bottom: 5.5rem;
}
.fs-pyb56{
    padding-bottom: 5.6rem;
}
.fs-pyb57{
    padding-bottom: 5.7rem;
}
.fs-pyb58{
    padding-bottom: 5.8rem;
}
.fs-pyb59{
    padding-bottom: 5.9rem;
}
.fs-pyb60{
    padding-bottom: 6rem;
}
.fs-pyb61{
    padding-bottom: 6.1rem;
}
.fs-pyb62{
    padding-bottom: 6.2rem;
}
.fs-pyb63{
    padding-bottom: 6.3rem;
}
.fs-pyb64{
    padding-bottom: 6.4rem;
}
.fs-pyb65{
    padding-bottom: 6.5rem;
}
.fs-pyb66{
    padding-bottom: 6.6rem;
}
.fs-pyb67{
    padding-bottom: 6.7rem;
}
.fs-pyb68{
    padding-bottom: 6.8rem;
}
.fs-pyb69{
    padding-bottom: 6.9rem;
}
.fs-pyb70{
    padding-bottom: 7rem;
}
.fs-pyb71{
    padding-bottom: 7.1rem;
}
.fs-pyb72{
    padding-bottom: 7.2rem;
}
.fs-pyb73{
    padding-bottom: 7.3rem;
}
.fs-pyb74{
    padding-bottom: 7.4rem;
}
.fs-pyb75{
    padding-bottom: 7.5rem;
}
.fs-pyb76{
    padding-bottom: 7.6rem;
}
.fs-pyb77{
    padding-bottom: 7.7rem;
}
.fs-pyb78{
    padding-bottom: 7.8rem;
}
.fs-pyb79{
    padding-bottom: 7.9rem;
}
.fs-pyb80{
    padding-bottom: 8rem;
}
.fs-pyb81{
    padding-bottom: 8.1rem;
}
.fs-pyb82{
    padding-bottom: 8.2rem;
}
.fs-pyb83{
    padding-bottom: 8.3rem;
}
.fs-pyb84{
    padding-bottom: 8.4rem;
}
.fs-pyb85{
    padding-bottom: 8.5rem;
}
.fs-pyb86{
    padding-bottom: 8.6rem;
}
.fs-pyb87{
    padding-bottom: 8.7rem;
}
.fs-pyb88{
    padding-bottom: 8.8rem;
}
.fs-pyb89{
    padding-bottom: 8.9rem;
}
.fs-pyb90{
    padding-bottom: 9rem;
}
.fs-pyb91{
    padding-bottom: 9.1rem;
}
.fs-pyb92{
    padding-bottom: 9.2rem;
}
.fs-pyb93{
    padding-bottom: 9.3rem;
}
.fs-pyb94{
    padding-bottom: 9.4rem;
}
.fs-pyb95{
    padding-bottom: 9.5rem;
}
.fs-pyb96{
    padding-bottom: 9.6rem;
}
.fs-pyb97{
    padding-bottom: 9.7rem;
}
.fs-pyb98{
    padding-bottom: 9.8rem;
}
.fs-pyb99{
    padding-bottom: 9.9rem;
}
.fs-pyb100{
    padding-bottom: 10rem;
}
/* 横左padding */
.fs-pxl0{
    padding-left: 0px;
}
.fs-pxl1{
    padding-left: 0.1rem;
}
.fs-pxl2{
    padding-left: 0.2rem;
}
.fs-pxl3{
    padding-left: 0.3rem;
}
.fs-pxl4{
    padding-left: 0.4rem;
}
.fs-pxl5{
    padding-left: 0.5rem;
}
.fs-pxl6{
    padding-left: 0.6rem;
}
.fs-pxl7{
    padding-left: 0.7rem;
}
.fs-pxl8{
    padding-left: 0.8rem;
}
.fs-pxl9{
    padding-left: 0.9rem;
}
.fs-pxl10{
    padding-left: 1rem;
}
.fs-pxl11{
    padding-left: 1.1rem;
}
.fs-pxl12{
    padding-left: 1.2rem;
}
.fs-pxl13{
    padding-left: 1.3rem;
}
.fs-pxl14{
    padding-left: 1.4rem;
}
.fs-pxl15{
    padding-left: 1.5rem;
}
.fs-pxl16{
    padding-left: 1.6rem;
}
.fs-pxl17{
    padding-left: 1.7rem;
}
.fs-pxl18{
    padding-left: 1.8rem;
}
.fs-pxl19{
    padding-left: 1.9rem;
}
.fs-pxl20{
    padding-left: 2rem;
}
.fs-pxl21{
    padding-left: 2.1rem;
}
.fs-pxl22{
    padding-left: 2.2rem;
}
.fs-pxl23{
    padding-left: 2.3rem;
}
.fs-pxl24{
    padding-left: 2.4rem;
}
.fs-pxl25{
    padding-left: 2.5rem;
}
.fs-pxl26{
    padding-left: 2.6rem;
}
.fs-pxl27{
    padding-left: 2.7rem;
}
.fs-pxl28{
    padding-left: 2.8rem;
}
.fs-pxl29{
    padding-left: 2.9rem;
}
.fs-pxl30{
    padding-left: 3rem;
}
.fs-pxl31{
    padding-left: 3.1rem;
}
.fs-pxl32{
    padding-left: 3.2rem;
}
.fs-pxl33{
    padding-left: 3.3rem;
}
.fs-pxl34{
    padding-left: 3.4rem;
}
.fs-pxl35{
    padding-left: 3.5rem;
}
.fs-pxl36{
    padding-left: 3.6rem;
}
.fs-pxl37{
    padding-left: 3.7rem;
}
.fs-pxl38{
    padding-left: 3.8rem;
}
.fs-pxl39{
    padding-left: 3.9rem;
}
.fs-pxl40{
    padding-left: 4rem;
}
.fs-pxl41{
    padding-left: 4.1rem;
}
.fs-pxl42{
    padding-left: 4.2rem;
}
.fs-pxl43{
    padding-left: 4.3rem;
}
.fs-pxl44{
    padding-left: 4.4rem;
}
.fs-pxl45{
    padding-left: 4.5rem;
}
.fs-pxl46{
    padding-left: 4.6rem;
}
.fs-pxl47{
    padding-left: 4.7rem;
}
.fs-pxl48{
    padding-left: 4.8rem;
}
.fs-pxl49{
    padding-left: 4.9rem;
}
.fs-pxl50{
    padding-left: 5rem;
}
.fs-pxl51{
    padding-left: 5.1rem;
}
.fs-pxl52{
    padding-left: 5.2rem;
}
.fs-pxl53{
    padding-left: 5.3rem;
}
.fs-pxl54{
    padding-left: 5.4rem;
}
.fs-pxl55{
    padding-left: 5.5rem;
}
.fs-pxl56{
    padding-left: 5.6rem;
}
.fs-pxl57{
    padding-left: 5.7rem;
}
.fs-pxl58{
    padding-left: 5.8rem;
}
.fs-pxl59{
    padding-left: 5.9rem;
}
.fs-pxl60{
    padding-left: 6rem;
}
.fs-pxl61{
    padding-left: 6.1rem;
}
.fs-pxl62{
    padding-left: 6.2rem;
}
.fs-pxl63{
    padding-left: 6.3rem;
}
.fs-pxl64{
    padding-left: 6.4rem;
}
.fs-pxl65{
    padding-left: 6.5rem;
}
.fs-pxl66{
    padding-left: 6.6rem;
}
.fs-pxl67{
    padding-left: 6.7rem;
}
.fs-pxl68{
    padding-left: 6.8rem;
}
.fs-pxl69{
    padding-left: 6.9rem;
}
.fs-pxl70{
    padding-left: 7rem;
}
.fs-pxl71{
    padding-left: 7.1rem;
}
.fs-pxl72{
    padding-left: 7.2rem;
}
.fs-pxl73{
    padding-left: 7.3rem;
}
.fs-pxl74{
    padding-left: 7.4rem;
}
.fs-pxl75{
    padding-left: 7.5rem;
}
.fs-pxl76{
    padding-left: 7.6rem;
}
.fs-pxl77{
    padding-left: 7.7rem;
}
.fs-pxl78{
    padding-left: 7.8rem;
}
.fs-pxl79{
    padding-left: 7.9rem;
}
.fs-pxl80{
    padding-left: 8rem;
}
.fs-pxl81{
    padding-left: 8.1rem;
}
.fs-pxl82{
    padding-left: 8.2rem;
}
.fs-pxl83{
    padding-left: 8.3rem;
}
.fs-pxl84{
    padding-left: 8.4rem;
}
.fs-pxl85{
    padding-left: 8.5rem;
}
.fs-pxl86{
    padding-left: 8.6rem;
}
.fs-pxl87{
    padding-left: 8.7rem;
}
.fs-pxl88{
    padding-left: 8.8rem;
}
.fs-pxl89{
    padding-left: 8.9rem;
}
.fs-pxl90{
    padding-left: 9rem;
}
.fs-pxl91{
    padding-left: 9.1rem;
}
.fs-pxl92{
    padding-left: 9.2rem;
}
.fs-pxl93{
    padding-left: 9.3rem;
}
.fs-pxl94{
    padding-left: 9.4rem;
}
.fs-pxl95{
    padding-left: 9.5rem;
}
.fs-pxl96{
    padding-left: 9.6rem;
}
.fs-pxl97{
    padding-left: 9.7rem;
}
.fs-pxl98{
    padding-left: 9.8rem;
}
.fs-pxl99{
    padding-left: 9.9rem;
}
.fs-pxl100{
    padding-left: 10rem;
}
/* 横右padding */
.fs-pxr0{
    padding-right: 0px;
}
.fs-pxr1{
    padding-right: 0.1rem;
}
.fs-pxr2{
    padding-right: 0.2rem;
}
.fs-pxr3{
    padding-right: 0.3rem;
}
.fs-pxr4{
    padding-right: 0.4rem;
}
.fs-pxr5{
    padding-right: 0.5rem;
}
.fs-pxr6{
    padding-right: 0.6rem;
}
.fs-pxr7{
    padding-right: 0.7rem;
}
.fs-pxr8{
    padding-right: 0.8rem;
}
.fs-pxr9{
    padding-right: 0.9rem;
}
.fs-pxr10{
    padding-right: 1rem;
}
.fs-pxr11{
    padding-right: 1.1rem;
}
.fs-pxr12{
    padding-right: 1.2rem;
}
.fs-pxr13{
    padding-right: 1.3rem;
}
.fs-pxr14{
    padding-right: 1.4rem;
}
.fs-pxr15{
    padding-right: 1.5rem;
}
.fs-pxr16{
    padding-right: 1.6rem;
}
.fs-pxr17{
    padding-right: 1.7rem;
}
.fs-pxr18{
    padding-right: 1.8rem;
}
.fs-pxr19{
    padding-right: 1.9rem;
}
.fs-pxr20{
    padding-right: 2rem;
}
.fs-pxr21{
    padding-right: 2.1rem;
}
.fs-pxr22{
    padding-right: 2.2rem;
}
.fs-pxr23{
    padding-right: 2.3rem;
}
.fs-pxr24{
    padding-right: 2.4rem;
}
.fs-pxr25{
    padding-right: 2.5rem;
}
.fs-pxr26{
    padding-right: 2.6rem;
}
.fs-pxr27{
    padding-right: 2.7rem;
}
.fs-pxr28{
    padding-right: 2.8rem;
}
.fs-pxr29{
    padding-right: 2.9rem;
}
.fs-pxr30{
    padding-right: 3rem;
}
.fs-pxr31{
    padding-right: 3.1rem;
}
.fs-pxr32{
    padding-right: 3.2rem;
}
.fs-pxr33{
    padding-right: 3.3rem;
}
.fs-pxr34{
    padding-right: 3.4rem;
}
.fs-pxr35{
    padding-right: 3.5rem;
}
.fs-pxr36{
    padding-right: 3.6rem;
}
.fs-pxr37{
    padding-right: 3.7rem;
}
.fs-pxr38{
    padding-right: 3.8rem;
}
.fs-pxr39{
    padding-right: 3.9rem;
}
.fs-pxr40{
    padding-right: 4rem;
}
.fs-pxr41{
    padding-right: 4.1rem;
}
.fs-pxr42{
    padding-right: 4.2rem;
}
.fs-pxr43{
    padding-right: 4.3rem;
}
.fs-pxr44{
    padding-right: 4.4rem;
}
.fs-pxr45{
    padding-right: 4.5rem;
}
.fs-pxr46{
    padding-right: 4.6rem;
}
.fs-pxr47{
    padding-right: 4.7rem;
}
.fs-pxr48{
    padding-right: 4.8rem;
}
.fs-pxr49{
    padding-right: 4.9rem;
}
.fs-pxr50{
    padding-right: 5rem;
}
.fs-pxr51{
    padding-right: 5.1rem;
}
.fs-pxr52{
    padding-right: 5.2rem;
}
.fs-pxr53{
    padding-right: 5.3rem;
}
.fs-pxr54{
    padding-right: 5.4rem;
}
.fs-pxr55{
    padding-right: 5.5rem;
}
.fs-pxr56{
    padding-right: 5.6rem;
}
.fs-pxr57{
    padding-right: 5.7rem;
}
.fs-pxr58{
    padding-right: 5.8rem;
}
.fs-pxr59{
    padding-right: 5.9rem;
}
.fs-pxr60{
    padding-right: 6rem;
}
.fs-pxr61{
    padding-right: 6.1rem;
}
.fs-pxr62{
    padding-right: 6.2rem;
}
.fs-pxr63{
    padding-right: 6.3rem;
}
.fs-pxr64{
    padding-right: 6.4rem;
}
.fs-pxr65{
    padding-right: 6.5rem;
}
.fs-pxr66{
    padding-right: 6.6rem;
}
.fs-pxr67{
    padding-right: 6.7rem;
}
.fs-pxr68{
    padding-right: 6.8rem;
}
.fs-pxr69{
    padding-right: 6.9rem;
}
.fs-pxr70{
    padding-right: 7rem;
}
.fs-pxr71{
    padding-right: 7.1rem;
}
.fs-pxr72{
    padding-right: 7.2rem;
}
.fs-pxr73{
    padding-right: 7.3rem;
}
.fs-pxr74{
    padding-right: 7.4rem;
}
.fs-pxr75{
    padding-right: 7.5rem;
}
.fs-pxr76{
    padding-right: 7.6rem;
}
.fs-pxr77{
    padding-right: 7.7rem;
}
.fs-pxr78{
    padding-right: 7.8rem;
}
.fs-pxr79{
    padding-right: 7.9rem;
}
.fs-pxr80{
    padding-right: 8rem;
}
.fs-pxr81{
    padding-right: 8.1rem;
}
.fs-pxr82{
    padding-right: 8.2rem;
}
.fs-pxr83{
    padding-right: 8.3rem;
}
.fs-pxr84{
    padding-right: 8.4rem;
}
.fs-pxr85{
    padding-right: 8.5rem;
}
.fs-pxr86{
    padding-right: 8.6rem;
}
.fs-pxr87{
    padding-right: 8.7rem;
}
.fs-pxr88{
    padding-right: 8.8rem;
}
.fs-pxr89{
    padding-right: 8.9rem;
}
.fs-pxr90{
    padding-right: 9rem;
}
.fs-pxr91{
    padding-right: 9.1rem;
}
.fs-pxr92{
    padding-right: 9.2rem;
}
.fs-pxr93{
    padding-right: 9.3rem;
}
.fs-pxr94{
    padding-right: 9.4rem;
}
.fs-pxr95{
    padding-right: 9.5rem;
}
.fs-pxr96{
    padding-right: 9.6rem;
}
.fs-pxr97{
    padding-right: 9.7rem;
}
.fs-pxr98{
    padding-right: 9.8rem;
}
.fs-pxr99{
    padding-right: 9.9rem;
}
.fs-pxr100{
    padding-right: 10rem;
}
