/* 縦margin */
.fs-my0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.fs-my1{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.fs-my2{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.fs-my3{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.fs-my4{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.fs-my5{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.fs-my6{
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
.fs-my7{
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
.fs-my8{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
.fs-my9{
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}
.fs-my10{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fs-my11{
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}
.fs-my12{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.fs-my13{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
.fs-my14{
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}
.fs-my15{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.fs-my16{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
.fs-my17{
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}
.fs-my18{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}
.fs-my19{
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
}
.fs-my20{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fs-my21{
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
}
.fs-my22{
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}
.fs-my23{
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
}
.fs-my24{
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}
.fs-my25{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.fs-my26{
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
}
.fs-my27{
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
}
.fs-my28{
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
}
.fs-my29{
    margin-top: 2.9rem;
    margin-bottom: 2.9rem;
}
.fs-my30{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.fs-my31{
    margin-top: 3.1rem;
    margin-bottom: 3.1rem;
}
.fs-my32{
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}
.fs-my33{
    margin-top: 3.3rem;
    margin-bottom: 3.3rem;
}
.fs-my34{
    margin-top: 3.4rem;
    margin-bottom: 3.4rem;
}
.fs-my35{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
.fs-my36{
    margin-top: 3.6rem;
    margin-bottom: 3.6rem;
}
.fs-my37{
    margin-top: 3.7rem;
    margin-bottom: 3.7rem;
}
.fs-my38{
    margin-top: 3.8rem;
    margin-bottom: 3.8rem;
}
.fs-my39{
    margin-top: 3.9rem;
    margin-bottom: 3.9rem;
}
.fs-my40{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.fs-my41{
    margin-top: 4.1rem;
    margin-bottom: 4.1rem;
}
.fs-my42{
    margin-top: 4.2rem;
    margin-bottom: 4.2rem;
}
.fs-my43{
    margin-top: 4.3rem;
    margin-bottom: 4.3rem;
}
.fs-my44{
    margin-top: 4.4rem;
    margin-bottom: 4.4rem;
}
.fs-my45{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}
.fs-my46{
    margin-top: 4.6rem;
    margin-bottom: 4.6rem;
}
.fs-my47{
    margin-top: 4.7rem;
    margin-bottom: 4.7rem;
}
.fs-my48{
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
}
.fs-my49{
    margin-top: 4.9rem;
    margin-bottom: 4.9rem;
}
.fs-my50{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.fs-my51{
    margin-top: 5.1rem;
    margin-bottom: 5.1rem;
}
.fs-my52{
    margin-top: 5.2rem;
    margin-bottom: 5.2rem;
}
.fs-my53{
    margin-top: 5.3rem;
    margin-bottom: 5.3rem;
}
.fs-my54{
    margin-top: 5.4rem;
    margin-bottom: 5.4rem;
}
.fs-my55{
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}
.fs-my56{
    margin-top: 5.6rem;
    margin-bottom: 5.6rem;
}
.fs-my57{
    margin-top: 5.7rem;
    margin-bottom: 5.7rem;
}
.fs-my58{
    margin-top: 5.8rem;
    margin-bottom: 5.8rem;
}
.fs-my59{
    margin-top: 5.9rem;
    margin-bottom: 5.9rem;
}
.fs-my60{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.fs-my61{
    margin-top: 6.1rem;
    margin-bottom: 6.1rem;
}
.fs-my62{
    margin-top: 6.2rem;
    margin-bottom: 6.2rem;
}
.fs-my63{
    margin-top: 6.3rem;
    margin-bottom: 6.3rem;
}
.fs-my64{
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}
.fs-my65{
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
}
.fs-my66{
    margin-top: 6.6rem;
    margin-bottom: 6.6rem;
}
.fs-my67{
    margin-top: 6.7rem;
    margin-bottom: 6.7rem;
}
.fs-my68{
    margin-top: 6.8rem;
    margin-bottom: 6.8rem;
}
.fs-my69{
    margin-top: 6.9rem;
    margin-bottom: 6.9rem;
}
.fs-my70{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.fs-my71{
    margin-top: 7.1rem;
    margin-bottom: 7.1rem;
}
.fs-my72{
    margin-top: 7.2rem;
    margin-bottom: 7.2rem;
}
.fs-my73{
    margin-top: 7.3rem;
    margin-bottom: 7.3rem;
}
.fs-my74{
    margin-top: 7.4rem;
    margin-bottom: 7.4rem;
}
.fs-my75{
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}
.fs-my76{
    margin-top: 7.6rem;
    margin-bottom: 7.6rem;
}
.fs-my77{
    margin-top: 7.7rem;
    margin-bottom: 7.7rem;
}
.fs-my78{
    margin-top: 7.8rem;
    margin-bottom: 7.8rem;
}
.fs-my79{
    margin-top: 7.9rem;
    margin-bottom: 7.9rem;
}
.fs-my80{
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.fs-my81{
    margin-top: 8.1rem;
    margin-bottom: 8.1rem;
}
.fs-my82{
    margin-top: 8.2rem;
    margin-bottom: 8.2rem;
}
.fs-my83{
    margin-top: 8.3rem;
    margin-bottom: 8.3rem;
}
.fs-my84{
    margin-top: 8.4rem;
    margin-bottom: 8.4rem;
}
.fs-my85{
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
}
.fs-my86{
    margin-top: 8.6rem;
    margin-bottom: 8.6rem;
}
.fs-my87{
    margin-top: 8.7rem;
    margin-bottom: 8.7rem;
}
.fs-my88{
    margin-top: 8.8rem;
    margin-bottom: 8.8rem;
}
.fs-my89{
    margin-top: 8.9rem;
    margin-bottom: 8.9rem;
}
.fs-my90{
    margin-top: 9rem;
    margin-bottom: 9rem;
}
.fs-my91{
    margin-top: 9.1rem;
    margin-bottom: 9.1rem;
}
.fs-my92{
    margin-top: 9.2rem;
    margin-bottom: 9.2rem;
}
.fs-my93{
    margin-top: 9.3rem;
    margin-bottom: 9.3rem;
}
.fs-my94{
    margin-top: 9.4rem;
    margin-bottom: 9.4rem;
}
.fs-my95{
    margin-top: 9.5rem;
    margin-bottom: 9.5rem;
}
.fs-my96{
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
}
.fs-my97{
    margin-top: 9.7rem;
    margin-bottom: 9.7rem;
}
.fs-my98{
    margin-top: 9.8rem;
    margin-bottom: 9.8rem;
}
.fs-my99{
    margin-top: 9.9rem;
    margin-bottom: 9.9rem;
}
.fs-my100{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
/* 横margin */
.fs-mx0{
    margin-left: 0px;
    margin-right: 0px;
}
.fs-mx1{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.fs-mx2{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.fs-mx3{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
.fs-mx4{
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}
.fs-mx5{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.fs-mx6{
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.fs-mx7{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}
.fs-mx8{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.fs-mx9{
    margin-left: 0.9rem;
    margin-right: 0.9rem;
}
.fs-mx10{
    margin-left: 1rem;
    margin-right: 1rem;
}
.fs-mx11{
    margin-left: 1.1rem;
    margin-right: 1.1rem;
}
.fs-mx12{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.fs-mx13{
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}
.fs-mx14{
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}
.fs-mx15{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.fs-mx16{
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}
.fs-mx17{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
}
.fs-mx18{
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}
.fs-mx19{
    margin-left: 1.9rem;
    margin-right: 1.9rem;
}
.fs-mx20{
    margin-left: 2rem;
    margin-right: 2rem;
}
.fs-mx21{
    margin-left: 2.1rem;
    margin-right: 2.1rem;
}
.fs-mx22{
    margin-left: 2.2rem;
    margin-right: 2.2rem;
}
.fs-mx23{
    margin-left: 2.3rem;
    margin-right: 2.3rem;
}
.fs-mx24{
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.fs-mx25{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.fs-mx26{
    margin-left: 2.6rem;
    margin-right: 2.6rem;
}
.fs-mx27{
    margin-left: 2.7rem;
    margin-right: 2.7rem;
}
.fs-mx28{
    margin-left: 2.8rem;
    margin-right: 2.8rem;
}
.fs-mx29{
    margin-left: 2.9rem;
    margin-right: 2.9rem;
}
.fs-mx30{
    margin-left: 3rem;
    margin-right: 3rem;
}
.fs-mx31{
    margin-left: 3.1rem;
    margin-right: 3.1rem;
}
.fs-mx32{
    margin-left: 3.2rem;
    margin-right: 3.2rem;
}
.fs-mx33{
    margin-left: 3.3rem;
    margin-right: 3.3rem;
}
.fs-mx34{
    margin-left: 3.4rem;
    margin-right: 3.4rem;
}
.fs-mx35{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
.fs-mx36{
    margin-left: 3.6rem;
    margin-right: 3.6rem;
}
.fs-mx37{
    margin-left: 3.7rem;
    margin-right: 3.7rem;
}
.fs-mx38{
    margin-left: 3.8rem;
    margin-right: 3.8rem;
}
.fs-mx39{
    margin-left: 3.9rem;
    margin-right: 3.9rem;
}
.fs-mx40{
    margin-left: 4rem;
    margin-right: 4rem;
}
.fs-mx41{
    margin-left: 4.1rem;
    margin-right: 4.1rem;
}
.fs-mx42{
    margin-left: 4.2rem;
    margin-right: 4.2rem;
}
.fs-mx43{
    margin-left: 4.3rem;
    margin-right: 4.3rem;
}
.fs-mx44{
    margin-left: 4.4rem;
    margin-right: 4.4rem;
}
.fs-mx45{
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}
.fs-mx46{
    margin-left: 4.6rem;
    margin-right: 4.6rem;
}
.fs-mx47{
    margin-left: 4.7rem;
    margin-right: 4.7rem;
}
.fs-mx48{
    margin-left: 4.8rem;
    margin-right: 4.8rem;
}
.fs-mx49{
    margin-left: 4.9rem;
    margin-right: 4.9rem;
}
.fs-mx50{
    margin-left: 5rem;
    margin-right: 5rem;
}
.fs-mx51{
    margin-left: 5.1rem;
    margin-right: 5.1rem;
}
.fs-mx52{
    margin-left: 5.2rem;
    margin-right: 5.2rem;
}
.fs-mx53{
    margin-left: 5.3rem;
    margin-right: 5.3rem;
}
.fs-mx54{
    margin-left: 5.4rem;
    margin-right: 5.4rem;
}
.fs-mx55{
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}
.fs-mx56{
    margin-left: 5.6rem;
    margin-right: 5.6rem;
}
.fs-mx57{
    margin-left: 5.7rem;
    margin-right: 5.7rem;
}
.fs-mx58{
    margin-left: 5.8rem;
    margin-right: 5.8rem;
}
.fs-mx59{
    margin-left: 5.9rem;
    margin-right: 5.9rem;
}
.fs-mx60{
    margin-left: 6rem;
    margin-right: 6rem;
}
.fs-mx61{
    margin-left: 6.1rem;
    margin-right: 6.1rem;
}
.fs-mx62{
    margin-left: 6.2rem;
    margin-right: 6.2rem;
}
.fs-mx63{
    margin-left: 6.3rem;
    margin-right: 6.3rem;
}
.fs-mx64{
    margin-left: 6.4rem;
    margin-right: 6.4rem;
}
.fs-mx65{
    margin-left: 6.5rem;
    margin-right: 6.5rem;
}
.fs-mx66{
    margin-left: 6.6rem;
    margin-right: 6.6rem;
}
.fs-mx67{
    margin-left: 6.7rem;
    margin-right: 6.7rem;
}
.fs-mx68{
    margin-left: 6.8rem;
    margin-right: 6.8rem;
}
.fs-mx69{
    margin-left: 6.9rem;
    margin-right: 6.9rem;
}
.fs-mx70{
    margin-left: 7rem;
    margin-right: 7rem;
}
.fs-mx71{
    margin-left: 7.1rem;
    margin-right: 7.1rem;
}
.fs-mx72{
    margin-left: 7.2rem;
    margin-right: 7.2rem;
}
.fs-mx73{
    margin-left: 7.3rem;
    margin-right: 7.3rem;
}
.fs-mx74{
    margin-left: 7.4rem;
    margin-right: 7.4rem;
}
.fs-mx75{
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}
.fs-mx76{
    margin-left: 7.6rem;
    margin-right: 7.6rem;
}
.fs-mx77{
    margin-left: 7.7rem;
    margin-right: 7.7rem;
}
.fs-mx78{
    margin-left: 7.8rem;
    margin-right: 7.8rem;
}
.fs-mx79{
    margin-left: 7.9rem;
    margin-right: 7.9rem;
}
.fs-mx80{
    margin-left: 8rem;
    margin-right: 8rem;
}
.fs-mx81{
    margin-left: 8.1rem;
    margin-right: 8.1rem;
}
.fs-mx82{
    margin-left: 8.2rem;
    margin-right: 8.2rem;
}
.fs-mx83{
    margin-left: 8.3rem;
    margin-right: 8.3rem;
}
.fs-mx84{
    margin-left: 8.4rem;
    margin-right: 8.4rem;
}
.fs-mx85{
    margin-left: 8.5rem;
    margin-right: 8.5rem;
}
.fs-mx86{
    margin-left: 8.6rem;
    margin-right: 8.6rem;
}
.fs-mx87{
    margin-left: 8.7rem;
    margin-right: 8.7rem;
}
.fs-mx88{
    margin-left: 8.8rem;
    margin-right: 8.8rem;
}
.fs-mx89{
    margin-left: 8.9rem;
    margin-right: 8.9rem;
}
.fs-mx90{
    margin-left: 9rem;
    margin-right: 9rem;
}
.fs-mx91{
    margin-left: 9.1rem;
    margin-right: 9.1rem;
}
.fs-mx92{
    margin-left: 9.2rem;
    margin-right: 9.2rem;
}
.fs-mx93{
    margin-left: 9.3rem;
    margin-right: 9.3rem;
}
.fs-mx94{
    margin-left: 9.4rem;
    margin-right: 9.4rem;
}
.fs-mx95{
    margin-left: 9.5rem;
    margin-right: 9.5rem;
}
.fs-mx96{
    margin-left: 9.6rem;
    margin-right: 9.6rem;
}
.fs-mx97{
    margin-left: 9.7rem;
    margin-right: 9.7rem;
}
.fs-mx98{
    margin-left: 9.8rem;
    margin-right: 9.8rem;
}
.fs-mx99{
    margin-left: 9.9rem;
    margin-right: 9.9rem;
}
.fs-mx100{
    margin-left: 10rem;
    margin-right: 10rem;
}
/* 縦上margin */
.fs-myt0{
    margin-top: 0px;
}
.fs-myt1{
    margin-top: 0.1rem;
}
.fs-myt2{
    margin-top: 0.2rem;
}
.fs-myt3{
    margin-top: 0.3rem;
}
.fs-myt4{
    margin-top: 0.4rem;
}
.fs-myt5{
    margin-top: 0.5rem;
}
.fs-myt6{
    margin-top: 0.6rem;
}
.fs-myt7{
    margin-top: 0.7rem;
}
.fs-myt8{
    margin-top: 0.8rem;
}
.fs-myt9{
    margin-top: 0.9rem;
}
.fs-myt10{
    margin-top: 1rem;
}
.fs-myt11{
    margin-top: 1.1rem;
}
.fs-myt12{
    margin-top: 1.2rem;
}
.fs-myt13{
    margin-top: 1.3rem;
}
.fs-myt14{
    margin-top: 1.4rem;
}
.fs-myt15{
    margin-top: 1.5rem;
}
.fs-myt16{
    margin-top: 1.6rem;
}
.fs-myt17{
    margin-top: 1.7rem;
}
.fs-myt18{
    margin-top: 1.8rem;
}
.fs-myt19{
    margin-top: 1.9rem;
}
.fs-myt20{
    margin-top: 2rem;
}
.fs-myt21{
    margin-top: 2.1rem;
}
.fs-myt22{
    margin-top: 2.2rem;
}
.fs-myt23{
    margin-top: 2.3rem;
}
.fs-myt24{
    margin-top: 2.4rem;
}
.fs-myt25{
    margin-top: 2.5rem;
}
.fs-myt26{
    margin-top: 2.6rem;
}
.fs-myt27{
    margin-top: 2.7rem;
}
.fs-myt28{
    margin-top: 2.8rem;
}
.fs-myt29{
    margin-top: 2.9rem;
}
.fs-myt30{
    margin-top: 3rem;
}
.fs-myt31{
    margin-top: 3.1rem;
}
.fs-myt32{
    margin-top: 3.2rem;
}
.fs-myt33{
    margin-top: 3.3rem;
}
.fs-myt34{
    margin-top: 3.4rem;
}
.fs-myt35{
    margin-top: 3.5rem;
}
.fs-myt36{
    margin-top: 3.6rem;
}
.fs-myt37{
    margin-top: 3.7rem;
}
.fs-myt38{
    margin-top: 3.8rem;
}
.fs-myt39{
    margin-top: 3.9rem;
}
.fs-myt40{
    margin-top: 4rem;
}
.fs-myt41{
    margin-top: 4.1rem;
}
.fs-myt42{
    margin-top: 4.2rem;
}
.fs-myt43{
    margin-top: 4.3rem;
}
.fs-myt44{
    margin-top: 4.4rem;
}
.fs-myt45{
    margin-top: 4.5rem;
}
.fs-myt46{
    margin-top: 4.6rem;
}
.fs-myt47{
    margin-top: 4.7rem;
}
.fs-myt48{
    margin-top: 4.8rem;
}
.fs-myt49{
    margin-top: 4.9rem;
}
.fs-myt50{
    margin-top: 5rem;
}
.fs-myt51{
    margin-top: 5.1rem;
}
.fs-myt52{
    margin-top: 5.2rem;
}
.fs-myt53{
    margin-top: 5.3rem;
}
.fs-myt54{
    margin-top: 5.4rem;
}
.fs-myt55{
    margin-top: 5.5rem;
}
.fs-myt56{
    margin-top: 5.6rem;
}
.fs-myt57{
    margin-top: 5.7rem;
}
.fs-myt58{
    margin-top: 5.8rem;
}
.fs-myt59{
    margin-top: 5.9rem;
}
.fs-myt60{
    margin-top: 6rem;
}
.fs-myt61{
    margin-top: 6.1rem;
}
.fs-myt62{
    margin-top: 6.2rem;
}
.fs-myt63{
    margin-top: 6.3rem;
}
.fs-myt64{
    margin-top: 6.4rem;
}
.fs-myt65{
    margin-top: 6.5rem;
}
.fs-myt66{
    margin-top: 6.6rem;
}
.fs-myt67{
    margin-top: 6.7rem;
}
.fs-myt68{
    margin-top: 6.8rem;
}
.fs-myt69{
    margin-top: 6.9rem;
}
.fs-myt70{
    margin-top: 7rem;
}
.fs-myt71{
    margin-top: 7.1rem;
}
.fs-myt72{
    margin-top: 7.2rem;
}
.fs-myt73{
    margin-top: 7.3rem;
}
.fs-myt74{
    margin-top: 7.4rem;
}
.fs-myt75{
    margin-top: 7.5rem;
}
.fs-myt76{
    margin-top: 7.6rem;
}
.fs-myt77{
    margin-top: 7.7rem;
}
.fs-myt78{
    margin-top: 7.8rem;
}
.fs-myt79{
    margin-top: 7.9rem;
}
.fs-myt80{
    margin-top: 8rem;
}
.fs-myt81{
    margin-top: 8.1rem;
}
.fs-myt82{
    margin-top: 8.2rem;
}
.fs-myt83{
    margin-top: 8.3rem;
}
.fs-myt84{
    margin-top: 8.4rem;
}
.fs-myt85{
    margin-top: 8.5rem;
}
.fs-myt86{
    margin-top: 8.6rem;
}
.fs-myt87{
    margin-top: 8.7rem;
}
.fs-myt88{
    margin-top: 8.8rem;
}
.fs-myt89{
    margin-top: 8.9rem;
}
.fs-myt90{
    margin-top: 9rem;
}
.fs-myt91{
    margin-top: 9.1rem;
}
.fs-myt92{
    margin-top: 9.2rem;
}
.fs-myt93{
    margin-top: 9.3rem;
}
.fs-myt94{
    margin-top: 9.4rem;
}
.fs-myt95{
    margin-top: 9.5rem;
}
.fs-myt96{
    margin-top: 9.6rem;
}
.fs-myt97{
    margin-top: 9.7rem;
}
.fs-myt98{
    margin-top: 9.8rem;
}
.fs-myt99{
    margin-top: 9.9rem;
}
.fs-myt100{
    margin-top: 10rem;
}
/* 縦下margin */
.fs-myb0{
    margin-bottom: 0px;
}
.fs-myb1{
    margin-bottom: 0.1rem;
}
.fs-myb2{
    margin-bottom: 0.2rem;
}
.fs-myb3{
    margin-bottom: 0.3rem;
}
.fs-myb4{
    margin-bottom: 0.4rem;
}
.fs-myb5{
    margin-bottom: 0.5rem;
}
.fs-myb6{
    margin-bottom: 0.6rem;
}
.fs-myb7{
    margin-bottom: 0.7rem;
}
.fs-myb8{
    margin-bottom: 0.8rem;
}
.fs-myb9{
    margin-bottom: 0.9rem;
}
.fs-myb10{
    margin-bottom: 1rem;
}
.fs-myb11{
    margin-bottom: 1.1rem;
}
.fs-myb12{
    margin-bottom: 1.2rem;
}
.fs-myb13{
    margin-bottom: 1.3rem;
}
.fs-myb14{
    margin-bottom: 1.4rem;
}
.fs-myb15{
    margin-bottom: 1.5rem;
}
.fs-myb16{
    margin-bottom: 1.6rem;
}
.fs-myb17{
    margin-bottom: 1.7rem;
}
.fs-myb18{
    margin-bottom: 1.8rem;
}
.fs-myb19{
    margin-bottom: 1.9rem;
}
.fs-myb20{
    margin-bottom: 2rem;
}
.fs-myb21{
    margin-bottom: 2.1rem;
}
.fs-myb22{
    margin-bottom: 2.2rem;
}
.fs-myb23{
    margin-bottom: 2.3rem;
}
.fs-myb24{
    margin-bottom: 2.4rem;
}
.fs-myb25{
    margin-bottom: 2.5rem;
}
.fs-myb26{
    margin-bottom: 2.6rem;
}
.fs-myb27{
    margin-bottom: 2.7rem;
}
.fs-myb28{
    margin-bottom: 2.8rem;
}
.fs-myb29{
    margin-bottom: 2.9rem;
}
.fs-myb30{
    margin-bottom: 3rem;
}
.fs-myb31{
    margin-bottom: 3.1rem;
}
.fs-myb32{
    margin-bottom: 3.2rem;
}
.fs-myb33{
    margin-bottom: 3.3rem;
}
.fs-myb34{
    margin-bottom: 3.4rem;
}
.fs-myb35{
    margin-bottom: 3.5rem;
}
.fs-myb36{
    margin-bottom: 3.6rem;
}
.fs-myb37{
    margin-bottom: 3.7rem;
}
.fs-myb38{
    margin-bottom: 3.8rem;
}
.fs-myb39{
    margin-bottom: 3.9rem;
}
.fs-myb40{
    margin-bottom: 4rem;
}
.fs-myb41{
    margin-bottom: 4.1rem;
}
.fs-myb42{
    margin-bottom: 4.2rem;
}
.fs-myb43{
    margin-bottom: 4.3rem;
}
.fs-myb44{
    margin-bottom: 4.4rem;
}
.fs-myb45{
    margin-bottom: 4.5rem;
}
.fs-myb46{
    margin-bottom: 4.6rem;
}
.fs-myb47{
    margin-bottom: 4.7rem;
}
.fs-myb48{
    margin-bottom: 4.8rem;
}
.fs-myb49{
    margin-bottom: 4.9rem;
}
.fs-myb50{
    margin-bottom: 5rem;
}
.fs-myb51{
    margin-bottom: 5.1rem;
}
.fs-myb52{
    margin-bottom: 5.2rem;
}
.fs-myb53{
    margin-bottom: 5.3rem;
}
.fs-myb54{
    margin-bottom: 5.4rem;
}
.fs-myb55{
    margin-bottom: 5.5rem;
}
.fs-myb56{
    margin-bottom: 5.6rem;
}
.fs-myb57{
    margin-bottom: 5.7rem;
}
.fs-myb58{
    margin-bottom: 5.8rem;
}
.fs-myb59{
    margin-bottom: 5.9rem;
}
.fs-myb60{
    margin-bottom: 6rem;
}
.fs-myb61{
    margin-bottom: 6.1rem;
}
.fs-myb62{
    margin-bottom: 6.2rem;
}
.fs-myb63{
    margin-bottom: 6.3rem;
}
.fs-myb64{
    margin-bottom: 6.4rem;
}
.fs-myb65{
    margin-bottom: 6.5rem;
}
.fs-myb66{
    margin-bottom: 6.6rem;
}
.fs-myb67{
    margin-bottom: 6.7rem;
}
.fs-myb68{
    margin-bottom: 6.8rem;
}
.fs-myb69{
    margin-bottom: 6.9rem;
}
.fs-myb70{
    margin-bottom: 7rem;
}
.fs-myb71{
    margin-bottom: 7.1rem;
}
.fs-myb72{
    margin-bottom: 7.2rem;
}
.fs-myb73{
    margin-bottom: 7.3rem;
}
.fs-myb74{
    margin-bottom: 7.4rem;
}
.fs-myb75{
    margin-bottom: 7.5rem;
}
.fs-myb76{
    margin-bottom: 7.6rem;
}
.fs-myb77{
    margin-bottom: 7.7rem;
}
.fs-myb78{
    margin-bottom: 7.8rem;
}
.fs-myb79{
    margin-bottom: 7.9rem;
}
.fs-myb80{
    margin-bottom: 8rem;
}
.fs-myb81{
    margin-bottom: 8.1rem;
}
.fs-myb82{
    margin-bottom: 8.2rem;
}
.fs-myb83{
    margin-bottom: 8.3rem;
}
.fs-myb84{
    margin-bottom: 8.4rem;
}
.fs-myb85{
    margin-bottom: 8.5rem;
}
.fs-myb86{
    margin-bottom: 8.6rem;
}
.fs-myb87{
    margin-bottom: 8.7rem;
}
.fs-myb88{
    margin-bottom: 8.8rem;
}
.fs-myb89{
    margin-bottom: 8.9rem;
}
.fs-myb90{
    margin-bottom: 9rem;
}
.fs-myb91{
    margin-bottom: 9.1rem;
}
.fs-myb92{
    margin-bottom: 9.2rem;
}
.fs-myb93{
    margin-bottom: 9.3rem;
}
.fs-myb94{
    margin-bottom: 9.4rem;
}
.fs-myb95{
    margin-bottom: 9.5rem;
}
.fs-myb96{
    margin-bottom: 9.6rem;
}
.fs-myb97{
    margin-bottom: 9.7rem;
}
.fs-myb98{
    margin-bottom: 9.8rem;
}
.fs-myb99{
    margin-bottom: 9.9rem;
}
.fs-myb100{
    margin-bottom: 10rem;
}
/* 横左margin */
.fs-mxl0{
    margin-left: 0mx;
}
.fs-mxl1{
    margin-left: 0.1rem;
}
.fs-mxl2{
    margin-left: 0.2rem;
}
.fs-mxl3{
    margin-left: 0.3rem;
}
.fs-mxl4{
    margin-left: 0.4rem;
}
.fs-mxl5{
    margin-left: 0.5rem;
}
.fs-mxl6{
    margin-left: 0.6rem;
}
.fs-mxl7{
    margin-left: 0.7rem;
}
.fs-mxl8{
    margin-left: 0.8rem;
}
.fs-mxl9{
    margin-left: 0.9rem;
}
.fs-mxl10{
    margin-left: 1rem;
}
.fs-mxl11{
    margin-left: 1.1rem;
}
.fs-mxl12{
    margin-left: 1.2rem;
}
.fs-mxl13{
    margin-left: 1.3rem;
}
.fs-mxl14{
    margin-left: 1.4rem;
}
.fs-mxl15{
    margin-left: 1.5rem;
}
.fs-mxl16{
    margin-left: 1.6rem;
}
.fs-mxl17{
    margin-left: 1.7rem;
}
.fs-mxl18{
    margin-left: 1.8rem;
}
.fs-mxl19{
    margin-left: 1.9rem;
}
.fs-mxl20{
    margin-left: 2rem;
}
.fs-mxl21{
    margin-left: 2.1rem;
}
.fs-mxl22{
    margin-left: 2.2rem;
}
.fs-mxl23{
    margin-left: 2.3rem;
}
.fs-mxl24{
    margin-left: 2.4rem;
}
.fs-mxl25{
    margin-left: 2.5rem;
}
.fs-mxl26{
    margin-left: 2.6rem;
}
.fs-mxl27{
    margin-left: 2.7rem;
}
.fs-mxl28{
    margin-left: 2.8rem;
}
.fs-mxl29{
    margin-left: 2.9rem;
}
.fs-mxl30{
    margin-left: 3rem;
}
.fs-mxl31{
    margin-left: 3.1rem;
}
.fs-mxl32{
    margin-left: 3.2rem;
}
.fs-mxl33{
    margin-left: 3.3rem;
}
.fs-mxl34{
    margin-left: 3.4rem;
}
.fs-mxl35{
    margin-left: 3.5rem;
}
.fs-mxl36{
    margin-left: 3.6rem;
}
.fs-mxl37{
    margin-left: 3.7rem;
}
.fs-mxl38{
    margin-left: 3.8rem;
}
.fs-mxl39{
    margin-left: 3.9rem;
}
.fs-mxl40{
    margin-left: 4rem;
}
.fs-mxl41{
    margin-left: 4.1rem;
}
.fs-mxl42{
    margin-left: 4.2rem;
}
.fs-mxl43{
    margin-left: 4.3rem;
}
.fs-mxl44{
    margin-left: 4.4rem;
}
.fs-mxl45{
    margin-left: 4.5rem;
}
.fs-mxl46{
    margin-left: 4.6rem;
}
.fs-mxl47{
    margin-left: 4.7rem;
}
.fs-mxl48{
    margin-left: 4.8rem;
}
.fs-mxl49{
    margin-left: 4.9rem;
}
.fs-mxl50{
    margin-left: 5rem;
}
.fs-mxl51{
    margin-left: 5.1rem;
}
.fs-mxl52{
    margin-left: 5.2rem;
}
.fs-mxl53{
    margin-left: 5.3rem;
}
.fs-mxl54{
    margin-left: 5.4rem;
}
.fs-mxl55{
    margin-left: 5.5rem;
}
.fs-mxl56{
    margin-left: 5.6rem;
}
.fs-mxl57{
    margin-left: 5.7rem;
}
.fs-mxl58{
    margin-left: 5.8rem;
}
.fs-mxl59{
    margin-left: 5.9rem;
}
.fs-mxl60{
    margin-left: 6rem;
}
.fs-mxl61{
    margin-left: 6.1rem;
}
.fs-mxl62{
    margin-left: 6.2rem;
}
.fs-mxl63{
    margin-left: 6.3rem;
}
.fs-mxl64{
    margin-left: 6.4rem;
}
.fs-mxl65{
    margin-left: 6.5rem;
}
.fs-mxl66{
    margin-left: 6.6rem;
}
.fs-mxl67{
    margin-left: 6.7rem;
}
.fs-mxl68{
    margin-left: 6.8rem;
}
.fs-mxl69{
    margin-left: 6.9rem;
}
.fs-mxl70{
    margin-left: 7rem;
}
.fs-mxl71{
    margin-left: 7.1rem;
}
.fs-mxl72{
    margin-left: 7.2rem;
}
.fs-mxl73{
    margin-left: 7.3rem;
}
.fs-mxl74{
    margin-left: 7.4rem;
}
.fs-mxl75{
    margin-left: 7.5rem;
}
.fs-mxl76{
    margin-left: 7.6rem;
}
.fs-mxl77{
    margin-left: 7.7rem;
}
.fs-mxl78{
    margin-left: 7.8rem;
}
.fs-mxl79{
    margin-left: 7.9rem;
}
.fs-mxl80{
    margin-left: 8rem;
}
.fs-mxl81{
    margin-left: 8.1rem;
}
.fs-mxl82{
    margin-left: 8.2rem;
}
.fs-mxl83{
    margin-left: 8.3rem;
}
.fs-mxl84{
    margin-left: 8.4rem;
}
.fs-mxl85{
    margin-left: 8.5rem;
}
.fs-mxl86{
    margin-left: 8.6rem;
}
.fs-mxl87{
    margin-left: 8.7rem;
}
.fs-mxl88{
    margin-left: 8.8rem;
}
.fs-mxl89{
    margin-left: 8.9rem;
}
.fs-mxl90{
    margin-left: 9rem;
}
.fs-mxl91{
    margin-left: 9.1rem;
}
.fs-mxl92{
    margin-left: 9.2rem;
}
.fs-mxl93{
    margin-left: 9.3rem;
}
.fs-mxl94{
    margin-left: 9.4rem;
}
.fs-mxl95{
    margin-left: 9.5rem;
}
.fs-mxl96{
    margin-left: 9.6rem;
}
.fs-mxl97{
    margin-left: 9.7rem;
}
.fs-mxl98{
    margin-left: 9.8rem;
}
.fs-mxl99{
    margin-left: 9.9rem;
}
.fs-mxl100{
    margin-left: 10rem;
}
/* 横右margin */
.fs-mxr0{
    margin-right: 0mx;
}
.fs-mxr1{
    margin-right: 0.1rem;
}
.fs-mxr2{
    margin-right: 0.2rem;
}
.fs-mxr3{
    margin-right: 0.3rem;
}
.fs-mxr4{
    margin-right: 0.4rem;
}
.fs-mxr5{
    margin-right: 0.5rem;
}
.fs-mxr6{
    margin-right: 0.6rem;
}
.fs-mxr7{
    margin-right: 0.7rem;
}
.fs-mxr8{
    margin-right: 0.8rem;
}
.fs-mxr9{
    margin-right: 0.9rem;
}
.fs-mxr10{
    margin-right: 1rem;
}
.fs-mxr11{
    margin-right: 1.1rem;
}
.fs-mxr12{
    margin-right: 1.2rem;
}
.fs-mxr13{
    margin-right: 1.3rem;
}
.fs-mxr14{
    margin-right: 1.4rem;
}
.fs-mxr15{
    margin-right: 1.5rem;
}
.fs-mxr16{
    margin-right: 1.6rem;
}
.fs-mxr17{
    margin-right: 1.7rem;
}
.fs-mxr18{
    margin-right: 1.8rem;
}
.fs-mxr19{
    margin-right: 1.9rem;
}
.fs-mxr20{
    margin-right: 2rem;
}
.fs-mxr21{
    margin-right: 2.1rem;
}
.fs-mxr22{
    margin-right: 2.2rem;
}
.fs-mxr23{
    margin-right: 2.3rem;
}
.fs-mxr24{
    margin-right: 2.4rem;
}
.fs-mxr25{
    margin-right: 2.5rem;
}
.fs-mxr26{
    margin-right: 2.6rem;
}
.fs-mxr27{
    margin-right: 2.7rem;
}
.fs-mxr28{
    margin-right: 2.8rem;
}
.fs-mxr29{
    margin-right: 2.9rem;
}
.fs-mxr30{
    margin-right: 3rem;
}
.fs-mxr31{
    margin-right: 3.1rem;
}
.fs-mxr32{
    margin-right: 3.2rem;
}
.fs-mxr33{
    margin-right: 3.3rem;
}
.fs-mxr34{
    margin-right: 3.4rem;
}
.fs-mxr35{
    margin-right: 3.5rem;
}
.fs-mxr36{
    margin-right: 3.6rem;
}
.fs-mxr37{
    margin-right: 3.7rem;
}
.fs-mxr38{
    margin-right: 3.8rem;
}
.fs-mxr39{
    margin-right: 3.9rem;
}
.fs-mxr40{
    margin-right: 4rem;
}
.fs-mxr41{
    margin-right: 4.1rem;
}
.fs-mxr42{
    margin-right: 4.2rem;
}
.fs-mxr43{
    margin-right: 4.3rem;
}
.fs-mxr44{
    margin-right: 4.4rem;
}
.fs-mxr45{
    margin-right: 4.5rem;
}
.fs-mxr46{
    margin-right: 4.6rem;
}
.fs-mxr47{
    margin-right: 4.7rem;
}
.fs-mxr48{
    margin-right: 4.8rem;
}
.fs-mxr49{
    margin-right: 4.9rem;
}
.fs-mxr50{
    margin-right: 5rem;
}
.fs-mxr51{
    margin-right: 5.1rem;
}
.fs-mxr52{
    margin-right: 5.2rem;
}
.fs-mxr53{
    margin-right: 5.3rem;
}
.fs-mxr54{
    margin-right: 5.4rem;
}
.fs-mxr55{
    margin-right: 5.5rem;
}
.fs-mxr56{
    margin-right: 5.6rem;
}
.fs-mxr57{
    margin-right: 5.7rem;
}
.fs-mxr58{
    margin-right: 5.8rem;
}
.fs-mxr59{
    margin-right: 5.9rem;
}
.fs-mxr60{
    margin-right: 6rem;
}
.fs-mxr61{
    margin-right: 6.1rem;
}
.fs-mxr62{
    margin-right: 6.2rem;
}
.fs-mxr63{
    margin-right: 6.3rem;
}
.fs-mxr64{
    margin-right: 6.4rem;
}
.fs-mxr65{
    margin-right: 6.5rem;
}
.fs-mxr66{
    margin-right: 6.6rem;
}
.fs-mxr67{
    margin-right: 6.7rem;
}
.fs-mxr68{
    margin-right: 6.8rem;
}
.fs-mxr69{
    margin-right: 6.9rem;
}
.fs-mxr70{
    margin-right: 7rem;
}
.fs-mxr71{
    margin-right: 7.1rem;
}
.fs-mxr72{
    margin-right: 7.2rem;
}
.fs-mxr73{
    margin-right: 7.3rem;
}
.fs-mxr74{
    margin-right: 7.4rem;
}
.fs-mxr75{
    margin-right: 7.5rem;
}
.fs-mxr76{
    margin-right: 7.6rem;
}
.fs-mxr77{
    margin-right: 7.7rem;
}
.fs-mxr78{
    margin-right: 7.8rem;
}
.fs-mxr79{
    margin-right: 7.9rem;
}
.fs-mxr80{
    margin-right: 8rem;
}
.fs-mxr81{
    margin-right: 8.1rem;
}
.fs-mxr82{
    margin-right: 8.2rem;
}
.fs-mxr83{
    margin-right: 8.3rem;
}
.fs-mxr84{
    margin-right: 8.4rem;
}
.fs-mxr85{
    margin-right: 8.5rem;
}
.fs-mxr86{
    margin-right: 8.6rem;
}
.fs-mxr87{
    margin-right: 8.7rem;
}
.fs-mxr88{
    margin-right: 8.8rem;
}
.fs-mxr89{
    margin-right: 8.9rem;
}
.fs-mxr90{
    margin-right: 9rem;
}
.fs-mxr91{
    margin-right: 9.1rem;
}
.fs-mxr92{
    margin-right: 9.2rem;
}
.fs-mxr93{
    margin-right: 9.3rem;
}
.fs-mxr94{
    margin-right: 9.4rem;
}
.fs-mxr95{
    margin-right: 9.5rem;
}
.fs-mxr96{
    margin-right: 9.6rem;
}
.fs-mxr97{
    margin-right: 9.7rem;
}
.fs-mxr98{
    margin-right: 9.8rem;
}
.fs-mxr99{
    margin-right: 9.9rem;
}
.fs-mxr100{
    margin-right: 10rem;
}
